* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin-bottom: 1em;
    color: var(--theme-text);
}

h1 {
    font-size: clamp(2em, 1em + 8vw, 5em);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 80rem;
    padding: 0 1em;
    margin: 0 auto;
}