@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0.5em;
    color: var(--theme-text-base);
}

h1 {
    display: inline-block;
    font-size: clamp(2em, 1em + 8vw, 5em);
}

p {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1em;
    color: var(--theme-text-description);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 80rem;
    padding: 0 1em;
    margin: 0 auto;
}